body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    min-height: 400px; /* Ajusta este valor según sea necesario */
    overflow-y: auto; /* Permite el desplazamiento vertical si el contenido no cabe */
}

.container {
    text-align: center;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    margin: 2rem auto; /* Agregado 2rem de margen superior */
    min-height: 400px; /* Ajusta este valor según sea necesario */
    overflow-y: auto; /* Permite el desplazamiento vertical si el contenido no cabe */
}

.header {
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #4a47a3;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header h1 {
    font-size: 2.5em;
    margin-bottom: 0.2em;
}

.header h2 {
    font-size: 1.3em;
    margin-top: 0.2em;
    font-weight: normal;
    color: #e0e0e0;
}

.total-balance p {
    margin: 0;
}

.total-balance p:first-child {
    margin-bottom: 5px;
    font-weight: bold;
}

canvas {
    display: block;
    margin: 20px auto;
}

input {
    margin: 5px;
    width: 10ch;
    font-size: 1.2em;
}

#result {
    font-size: 2em;
    font-weight: bold;
    color: #4a47a3;
}

.unit-price {
    font-weight: bold;
}

label {
    display: inline-block;
    width: 80px;
}

.balance-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.total-balance, #chart-container {
    text-align: center;
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    display: inline-block;
}

.total-balance {
    width: 100%;
}

#chart-container {
    width: auto; 
    height: auto;
}

#individual-balances-container {
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#individual-balances-container h3 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    color: #333;
    margin: 0 0 10px;
    text-align: center;
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#individual-balances {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.individual-balance-item {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

.individual-balance-item .token-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 5px;
}

.individual-balance-item .token-balance {
    font-size: 0.9em;
}

@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
    .total-balance, #chart-container {
        margin-left: 0;
        margin-right: 0;
    }

}
